<div class="swiper portfolio-Swiper portfolio-content py-4" data-aos="fade-up">
  <h3 class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">Graphic design</h3>
  <div class="swiper-wrapper p-4">

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="bakery.html" title="portfolio details"><img src="./images-webp/bakery/bakery.webp" alt="Bakery"
            class="img-fluid"></a>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="analysis.html" title="portfolio details"><img src="./images-webp/analysis/naslovnazalink.webp"
            alt="Analysis image" class="img-fluid"></a>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="decade.html" title="portfolio details"><img src="./images-webp/decade/decada-box.webp"
            alt="Report cover image" class="img-fluid"></a>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="cookbook.html" title="portfolio details"><img src="./images-webp/101/101.webp" alt="101 image"
            class="img-fluid"></a>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="image-holder">
        <a href="litter.html " title="portfolio details"><img src="./images-webp/catliter/litterFront.webp"
            alt="101 image" class="img-fluid"></a>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="americana.html" title="portfolio details"><img src="./images-webp/recipe/recipe-square.webp"
            alt="101 image" class="img-fluid"></a>
      </div>
    </div>

  </div>
  <div class="swiper-pagination mt-5 pt-5"></div>
</div>

<div class="swiper portfolio-Swiper portfolio-content py-4" data-aos="fade-up">
  <h3 class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">Web and UI/UX</h3>
  <div class="swiper-wrapper p-4">

    <div class="swiper-slide">

      <div class="image-holder">
        <a href="star.html" title="portfolio details"><img src="./images-webp/star/star_frontpage.webp" alt="star image"
            class="img-fluid"></a>
      </div>
      <div class="caption d-flex justify-content-between align-items-center">
      </div>
    </div>

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="duck.html" title="portfolio details"><img src="./images-webp/duck/Intro-1.webp" alt="star image"
            class="img-fluid"></a>
      </div>
      <div class="caption d-flex justify-content-between align-items-center">
      </div>
    </div>
    <div class="swiper-slide">
      <div class="image-holder">
        <a href="lost-and-found.html" title="portfolio details"><img
            src="./images-webp/lostandfound/lostandfound_frontpage.webp" alt="lostandfound image" class="img-fluid"></a>
      </div>
    </div>


    <div class="swiper-slide">
      <div class="image-holder">
        <a href="c3.html" title="portfolio details"><img src="./images-webp/c3/c3-index.webp" alt="c3 image"
            class="img-fluid"></a>
      </div>
      <div class="caption d-flex justify-content-between align-items-center">
      </div>
    </div>

  </div>
  <div class="swiper-pagination mt-5 pt-5"></div>
</div>


<div class="swiper portfolio-Swiper portfolio-content py-4" data-aos="fade-up">
  <h3 class="row justify-content-center" data-aos="fade-up" data-aos-delay="300">3D and Motion</h3>
  <div class="swiper-wrapper p-4">

    <div class="swiper-slide">
      <div class="image-holder">
        <a href="heart.html" title="portfolio details"><img src="./images-webp/bakery/bakery-logo-front.webp" alt="muff"
            class="img-fluid"></a>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="image-holder">
        <a href="muff.html" title="portfolio details"><img src="./images-webp/muff/muff-frontpage.webp" alt="muff"
            class="img-fluid"></a>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="image-holder">
        <a href="recipes-motion.html" title="portfolio details"><img src="./images-webp/recipe/recipe-square.webp"
            alt="muff" class="img-fluid"></a>
      </div>
    </div>
  </div>
  <div class="swiper-pagination mt-5 pt-5"></div>
</div>